@keyframes hover-color {
    from {
        border-color: #c0c0c0; }
    to {
        border-color: #3e97eb; 
    } 
}
  
.magic-radio {
    position: absolute;
    display: none; 
}

.magic-radio + label {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-right: 10px;
    cursor: pointer;
    vertical-align: middle;
}

.magic-radio + label:hover:before {
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-name: hover-color; 
}

.magic-radio + label:before {
    position: absolute;
    top: 3px;
    left: 7px;
    display: inline-block;
    width: 16px;
    height: 16px;
    content: '';
    border: 1px solid #c0c0c0; 
}

.magic-radio + label:after {
      position: absolute;
      display: none;
      content: ''; 
}

.magic-radio[disabled] + label:hover, 
.magic-radio[disabled] + label:before, 
.magic-radio[disabled] + label:after {
    cursor: not-allowed; 
}

.magic-radio:checked + label:before {
    animation-name: none; 
}
  
.magic-radio:checked + label:after {
    display: block; 
}
  
.magic-radio + label:before {
    border-radius: 50%; 
}
  
.magic-radio + label:after {
    top: 8px;
    left: 12px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #6fb554; 
}
  
.magic-radio:checked + label:before {
    border: 1px solid #6fb554; 
}

.markerType-Container {
    display: flex;
}