.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: auto;
}

#form-container {
    width: 500px;
    height: auto;
    margin: 150px auto;
}

#form-container #container-title {
    width: 500px;
    height: 100px;
    margin-bottom: 0;
    border: 1px solid #6fb554;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #6fb554;
    color: white;
    font-size: 14px;
    line-height: 55px;
    font-weight: bold;
    text-align: center;
}

#form-container #container-body {
    box-shadow: 0 0 12px 2px #c7c7c7;
    margin-top: 0;
    padding: 3rem 2rem 2rem 2rem;
}

.auth-form #auth-submit button {
    width: 100%;
    background: #6fb554;
    border: 1px solid #6fb554;
    border-radius: 20px;
    padding: 0.25rem 1rem;
    margin: 2rem 1rem 0 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
    font: inherit;
    color: white;
    cursor: pointer;
    outline: none;
}

.auth-form #auth-toggle {
    margin-top: 10rem;
    text-align: center;
}

.auth-form #auth-toggle h1 {
    font-size: 15px;
    color: #bbbbbb;
    margin: 0;
}

.auth-form #auth-toggle button {
    background: white;
    border: none;
    outline: none;
    padding: 0;
    margin: 1rem;
    font: inherit;
    color: #6fb554;
    cursor: pointer;
    font-weight: bold;
}