body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-control input,
.form-control textarea {
    width: 100%;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
    background: #dddddd;
    outline: none;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.form-control input::placeholder {
    color: black;
    font-weight: bold;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button,
.btn {
    background-color: #6fb554;
    font: inherit;
    border: 1px solid #6fb554;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.26);
    color: white;
    cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
    background-color: #509235;
    border-color: #509235;
}